.downloadPage {
    width: 100%;
    height: 100vh;
}

.downloadPage .downloadPage__content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--surface-color);
}

.downloadPage__content .downloadBox {
    width: 60%;
    padding: 3rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    background-color: white;
}

.downloadBox .headline,
.downloadBox .subHeadline {
    text-align: center;
}

.downloadBox .subHeadline {
    color: #6d706f;
}

.downloadBox .launchDescription {
    margin: 2rem 0;
}

.downloadBox .downloadBoxActions {
    width: 60%;
    margin: auto;
    margin-top: 1rem;
}

.downloadBoxActions button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    column-gap: .3rem;
    width: 100%;
}

.downloadBoxActions button:first-of-type {
    margin-bottom: 0.5rem;
}

.downloadBoxActions #countdownIndicator {
    color: blue;
    text-align: center;
    opacity: 0;
    transition: opacity .2s;
}

.downloadBoxActions #countdownIndicator.show {
    opacity: 1;
}

#downloadError {
    display: none;
    text-align: center;
}