:root {
    --primary-color: #206A4E;
    --primary-bright: #8DD5B2;
    --font-color: #171D1A;
    --logo-size: 70px;
    --hero-showcase-border-radius: 30px;
}

body {
    color: var(--font-color);
}

main {
    max-width: 1400px;
    margin: auto;
    line-height: 1.2;
    padding: .75rem 1.5rem 0 1.5rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Poppins", sans-serif;
    margin: 0;
    line-height: 1.2;
}

p {
  font-family: "Inter", sans-serif;
  margin: 0;
}

section {
    width: 100%;
}

.heroSection {
    display: flex;
    column-gap: 6rem;
}

.heroSection__content {
    flex: 1;
}

.heroSection__content .appNavigation {
    display: inline-flex;
    width: 100%;
    align-items: center;
    column-gap: 1rem;
}

.heroSection__content .drawerToggle {
    display: none;
}

.appNavigation .appBrand {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
}

.appBrand img {
    width: var(--logo-size);
    height: var(--logo-size);
}

.appBrand .appName {
    font-weight: 500;
    font-size: 1.25rem;
}

.appNavigation .navLink {
    font-weight: normal;
    cursor: pointer;
    margin-top: 1px;
}

.heroSection__content .heroSection__textContent {
    padding-top: 5rem;
}

.heroSection__textContent .heroSection__title {
    font-size: 3rem;
    font-weight: bold;
    margin: 18px 0;
}

.heroSection__textContent .heroSection__subtitle {
    margin-bottom: 12px;
}

.heroSection__content .heroSection__actions {
    display: inline-flex;
    column-gap: 1rem;
    margin: 18px 0;
}

.heroSection .heroSection__showcase {
    height: 34rem;
    width: 40%;
    background: linear-gradient(
319deg, var(--primary-color)30%, var(--primary-bright));
    border-radius: var(--hero-showcase-border-radius);
    border-bottom-right-radius: calc(var(--hero-showcase-border-radius) * 5);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.heroSection__showcase img {
    height: 33rem;
}

.btn {
    border: none;
    outline: none;
    height: 44px;
    width: 150px;
    font-weight: bold;
    cursor: pointer;
}

.rounded {
    border-radius: 999px;
}

.pryBtn {
    background-color: var(--primary-color);
    color: white;
    transition: all .2s;
}

.pryBtn:hover {
    background-color: white;
    color: var(--primary-color);
    border: var(--primary-color) solid 1px;
}

.outlineBtn {
    background-color: white;
    color: var(--primary-color);
    border: var(--primary-color) solid 1px;
    transition: all .2s;
}

.outlineBtn:hover {
    background-color: var(--primary-color);
    color: white;
    border: none;
}
