@import "./common.css";

:root {
    --primary-color: #206A4E;
    --primary-bright: #8DD5B2;
    --font-color: #232c28;
    --surface-color: #f2f2f2;
    --logo-size: 70px;
    --hero-showcase-border-radius: 30px;
    --body-padding: 1.5rem;
    --app-width: 1400px;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Inter", sans-serif;
    color: var(--font-color);
    margin: 0;
}

main {
    max-width: var(--app-width);
    margin: auto;
    line-height: 1.2;
    padding-top: .75rem;
    position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Poppins", sans-serif;
    margin: 0;
    line-height: 1.2;
    color: #171D1A;
}

p {
    margin: 0;
}

section {
    width: 100%;
    padding: 0 var(--body-padding);
    box-sizing: border-box;
}

section.appSection {
    padding: 3rem var(--body-padding);
    margin: 2rem 0;
}

.appSection.darkSection {
    background-color: var(--surface-color);
}

section.appSection .sectionTitle {
    font-weight: bold;
    font-size: 4rem;
    text-align: center;
}

section.appSection .sectionSubtitle {
    color: #232c28;
    text-align: center;
    max-width: 780px;
    margin: 1rem auto 3.5rem auto;
}

.sectionActions {
    display: inline-flex;
    column-gap: 1rem;
    margin: 18px 0;
}

.heroSection {
    display: flex;
    column-gap: 6rem;
    padding-top: 2rem;
}

.heroSection .heroSection__content {
    flex: 1;
}

.headerMobile {
    display: none;
}

.heroSection__content .heroSection__textContent {
    padding-top: 8rem;
}

.heroSection__textContent .heroSection__title {
    font-size: 3rem;
    font-weight: bold;
    margin: 18px 0;
}

.heroSection__textContent .heroSection__subtitle {
    margin-bottom: 12px;
}

.heroSection .heroSection__showcase {
    height: 34rem;
    width: 40%;
    background: linear-gradient(319deg, var(--primary-color)30%, var(--primary-bright));
    border-radius: var(--hero-showcase-border-radius);
    border-bottom-right-radius: calc(var(--hero-showcase-border-radius) * 5);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.heroSection__showcase img {
    height: 33rem;
}

.heroSection__showcase .heroSection__showcase__titleBox {
    display: none;
}

.heroSection .heroSection__text__mobileDisplay {
    display: none;
}

.features .featureList {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 1.5rem;
}

.features .featureList .featureItem {
    background-color: white;
    width: calc(100% / 3.4);
    padding: 1rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.featureList .featureItem .featureItemHeader {
    display: inline-flex;
    align-items: center;
    column-gap: 12px;
    margin-bottom: 12px;
}

.featureList .featureItem .featureItemHeader svg {
    width: 32px;
    height: 32px;
}

.featureList .featureItem .featureItemHeader h5 {
    font-size: 1.4rem
}

.featureList .featureItem .featureItemDesc {
    font-size: 1.125rem;
}

#partnership .sectionActions {
    width: 100%;
    justify-content: center;
}

#partnership .sectionSubtitle {
    margin-bottom: 1rem;
}

#contact .formContainer {
    width: 60%;
    margin: auto;
    background-color: white;
    padding: 2rem 8rem;
    border: 8px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

footer {
    padding: 1.6rem 0;
    background-color: var(--primary-color);
}

footer p {
    text-align: center;
    color: white;
}

.privacyPolicyContent {
    padding: 4rem 12rem 0 12rem;
}

.privacyPolicyContent h2 {
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
}

.privacyPolicyContent h3 {
    margin-top: 1rem;
}

.privacyPolicyContent ul {
    margin: 0;
}

.privacyPolicyContent #howmarket-privacy-policy-gdpr-compliant {
    margin-bottom: 1rem;
}