@media (max-width: 64rem) {
    .appNavigation {
        display: none;
    }

    .headerMobile {
        display: block;
    }

    .features .featureList .featureItem {
        width: calc(100% / 2.3);
    }

    #contact .formContainer {
        width: 80%;
        padding: 2rem;
    }

    #drawer .drawerContent .appBrand {
        margin-bottom: 24px;
    }
}