@media (max-width: 30rem) {
    main {
        padding-left: .8rem;
        padding-right: .8rem;
    }

    .heroSection {
        flex-wrap: wrap;
    }

    .heroSection .heroSection__content {
        display: none;
    }

    .heroSection .heroSection__showcase {
        width: 100%;
        flex-wrap: wrap;
        padding: 0.25rem 0;
        margin: 0 .75rem;
    }

    .heroSection__showcase .heroSection__showcase__titleBox {
        display: block;
        width: 80%;
        background-color: white;
        padding: 1rem 0;
        border-radius: 8px;
    }

    .heroSection__showcase__titleBox .heroSection__title {
        font-size: 1.2rem;
        text-align: center;
    }

    .heroSection__showcase img {
        margin-top: -3.25rem;
        height: 32rem;
    }

    .heroSection .heroSection__text__mobileDisplay {
        display: block;
        background-color: white;
        padding: 1.4rem 1rem;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
        margin-top: -4rem;
    }

    .heroSection__text__mobileDisplay p {
        margin-bottom: 1rem;
    }

    .drawerToggle.mobileDisplay {
        display: block;
    }
}