@media (max-width: 30rem) {
    section {
        padding-left: .8rem;
        padding-right: .8rem;
    }

    section.appSection {
        padding-left: .8rem;
        padding-right: .8rem;
    }

    section.appSection .sectionTitle {
        font-size: 3rem;
        line-height: 1;
    }

    .heroSection {
        flex-wrap: wrap;
    }

    .heroSection .heroSection__content {
        display: none;
    }

    .heroSection .heroSection__showcase {
        width: 100%;
        flex-wrap: wrap;
        padding: 0.25rem 0;
        margin: 0 .75rem;
    }

    .heroSection__showcase .heroSection__showcase__titleBox {
        display: block;
        width: 80%;
        background-color: white;
        padding: 1rem 0;
        border-radius: 8px;
    }

    .heroSection__showcase__titleBox .heroSection__title {
        font-size: 1.2rem;
        text-align: center;
    }

    .heroSection__showcase img {
        margin-top: -3.25rem;
        height: 32rem;
    }

    .heroSection .heroSection__text__mobileDisplay {
        display: block;
        background-color: white;
        padding: 1.4rem 1rem;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
        margin-top: -4rem;
    }

    .heroSection__text__mobileDisplay p {
        margin-bottom: 1rem;
    }

    .heroSection__text__mobileDisplay .actionText {
        text-align: center;
        margin-bottom: 0;
    }

    .heroSection__text__mobileDisplay .sectionActions {
        width: 100%;
        display: inline-flex;
        column-gap: 12px;
        justify-content: center;
        margin-top: 0.5rem;
    }

    .features .featureList {
        flex-direction: column;
    }

    .features .featureList .featureItem {
        width: 100%;
        box-sizing: border-box;
    }

    #contact .formContainer {
        width: 100%;
        box-sizing: border-box;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    footer p {
        width: 80%;
        margin: auto;
        font-size: .75rem;
    }

    #drawer .drawerContent {
        width: 70%;
    }

    .downloadPage__content .downloadBox {
        padding: 3rem 1.5rem;
        width: 80%;
    }

    .downloadBox .downloadBoxActions {
        width: 100%;
        margin: 0;
    }

    .privacyPolicyContent {
        margin-left: var(--body-padding);
        margin-right: var(--body-padding);
    }
}